#fom h1 {
    background-color: white;
    padding: 4px;
}
body {
    background-color: 
    padding 5px 50px;
}
#fom label {
    color:white;
    font-size: large;
    
}
#span {
    color: aqua;
    
}